.carousel-item img {
    height: 500px; /* Cambia esto a la medida que quieras */
    object-fit: cover;
}

/* Ajuste de la flecha (caret) */
.dropdown-toggle::after {
    display: inline-block;
    macontent: "";
  rgin-left: 0.4em; /* Espacio pequeño constante al lado del texto */
    vertical-align: middle; /* Centrado vertical con el texto */
      /* Usamos unidades 'em' para que si subes a fs-3 o fs-2, la flecha crezca sola */
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-bottom: 0;
    border-left: 0.35em solid transparent;
}

/* Esto asegura que el footer se vaya al fondo sin flotar */
.footer-fijo-abajo {
    margin-top: auto;
    width: 100%;
}

/* Opcional: Si el body no tiene estas clases en HTML, ponlas aquí */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}




/* Contenedor principal que oculta el desbordamiento */
.marquee-wrapper {
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

/* El contenedor que se anima */
.marquee-content {
    display: flex;
    animation: scroll-marcas 30s linear infinite; /* 30s define la velocidad (más segundos = más lento) */
}

/* Estilo para cada marca */
.marquee-item {
    padding: 0 50px; /* Espacio entre marcas */
    color: #333;
    font-weight: bold;
    border-right: 1px solid #ccc; /* La rayita divisoria que tenías */
}

/* La animación mágica */
@keyframes scroll-marcas {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); } /* Se mueve la mitad exacta para que no se note el salto */
}

/* Opcional: Pausar cuando el usuario pasa el mouse */
.marquee-wrapper:hover .marquee-content {
    animation-play-state: paused;
}
